.footer{
    padding-top: 10px;
    background-color: #ebebeb;
    height: 100px;
    width: 100%;
}

.footerAnswer{
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    background-color: #ebebeb;
    height: 100px;
    width: 100%;
}

h5{
    margin-top: 22px;
    text-align: center;
}

img{
    position: relative;
    left: 0;
    display: inline
}