.link{
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
    height: 50px
}
.button{
    background-color: rgb(255,230,0);
    height: 50px;
    border: black solid 2.5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.div{
    margin-top: 18vh;
    text-align: center;
}

h1{
    margin: auto;
    text-align: center;
}

.home{
    display: flex;
    justify-content: center;
}

.homeImg{
    width: 80px;
}

.description{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 477px){
    .div{
        margin-top: 11vh;   
    }
}

@media (max-width: 430px){
    .div{
        margin-top: 9vh;   
    }
}

@media (max-width: 367PX){
    .div{
        margin-top: 7vh;   
    }
}