.header{
    display: flex;
    width: 100%;
    background-color: rgb(255,241,89);
    height: 100px;
    margin-bottom: 0%;
}

.img{
    width: 200px;
    display: inline;
}

.imgMobile{
    display: none;
}

img{
    margin-top: -50px;
    width: 200px;
    height: auto;
}

a{
    font-weight: bold;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
}

a:hover{
    color: black;
}

@media (max-width: 412px) {
    .img{
        display: none;
    }
    .imgMobile{
        display: inline;
        
    }
    img{
        margin-top: 17px;
        width: 80px;
        height: auto;
        margin-left: 35px;
    }

}