
<div class="header">
    <div>
        <img class="imgNavidad" src="../../../../../assets/navidad.png" alt="gorro navidad">
    </div>
    <div class="img">
        <img src="../../../../../assets/logoML.png" alt="logo ML">
    </div>
    <a class="d-flex align-center" mat-button href="http://localhost:4200/home">Home</a>
    <a mat-button href="http://localhost:4200/form">Publicar Item</a>
    <div class="imgMobile">
        <img src="../../../../../assets/logoMobile.png" alt="logo ML">
    </div>
</div>
